body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.images-container {
  padding: 20px;
  overflow: auto;
  .images-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .image-item {
      width: 250px;
      height: 250px;
      margin-bottom: 16px;
      position: relative;
      .photo {
        width: 100%;
        height: 100%;
        border-radius: 4%;
      }

      .overlay-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: rgba(118, 119, 119, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .photo-title {
          color: #ffffff;
          text-align: center;
        }

        .add-favorite {
          margin-top: 16px;
          padding: 4px 8px;
          border: 1px solid white;
          width: 50%;
          background-color: transparent;
          border-radius: 10px;
          height: 36px;
          color: white;
          font-size: 16px;
          cursor: pointer;
        }
      }

      &:hover {
        .overlay-container {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 330px) {
  .images-container {
    padding: 12px;
    .images-list {
      justify-content: center;
      .image-item {
        width: 100%;
        height: 180px;
        margin-bottom: 8px;
      }
    }
  }
}

@media only screen and (min-width: 330px) and (max-width: 720px) {
  .images-container {
    padding: 12px;
    .images-list {
      .image-item {
        width: calc(50% - 4px);
        height: 150px;
        margin-bottom: 8px;
        &:nth-child(2n + 1) {
          margin-left: 4px;
        }
      }
    }
  }
}

@media only screen and (min-width: 720px) and (max-width: 1080px) {
  .images-container {
    padding: 16px;
    .images-list {
      .image-item {
        width: calc(25% - 18px);
        height: 200px;
        margin-bottom: 8px;
        &:not(:nth-child(4n)) {
          margin-right: 6px;
        }
      }
    }
  }
}
